.gothiar_shop_index {
    padding: 80px 0 100px
}

.gothiar_shop_category {
    padding: 80px 0 100px
}

.gothiar_shop_category .wrp {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.gothiar_shop_category .gothiar_shop_top {
    width: 100%
}

.gothiar_shop_category .gothiar_shop_top h1 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 32px
}

.gothiar_shop_category .gothiar_shop_top .desc {
    max-width: 830px;
    margin: 0 auto 20px;
    text-align: center
}

.gothiar_shop_category .gothiar_shop_left {
    width: 330px
}

.gothiar_shop_category .gothiar_shop_right {
    width: calc(100% - 360px)
}

.product_groups:not(:last-child) {
    margin-bottom: 50px
}

.product_groups .heading {
    margin-bottom: 30px
}

.product_groups .heading a {
    text-decoration: none
}

.product_groups .heading h2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #333
}

.product_groups .heading span {
    color: #333;
    margin-left: 10px;
    font-weight: 500;
    font-size: 0.95rem
}

.product_group_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product_group_items .item {
    width: calc((100% - 60px) / 4);
    text-decoration: none
}

.product_group_items .item .wImage {
    background: #f5f5f5;
    border-radius: 8px;
}

.product_group_items .product_name {
    font-size: inherit;
    color: #333;
    margin: 10px 0 5px
}

.product_group_items .product_price {
    color: #333;
    font-weight: 500;
    font-size: 16px
}

.product_group_items .product_price del {
    color: #777
}

.product_group_items .product_stat {
    color: #999;
    font-size: 14px
}

.product_group_items .product_rating {
    color: #333;
    font-size: 16px;
    text-align: left;
    margin: 6px 0
}

.product_categories {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2
}

.product_categories:last-child {
    border: none
}

.product_categories .label {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.product_categories .label:after {
    content: "";
    padding-right: 10px;
    background: url(/css/icon/chevron-down.svg) no-repeat center center;
    background-size: 11px;
    display: block;
    width: 32px;
    height: 32px
}

.product_categories .label.active:after {
    background: url(/css/icon/chevron-up.svg) no-repeat center center;
    background-size: 11px;
}

.product_categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product_categories ul li {
    margin-bottom: 5px
}

.product_categories ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 3px 10px
}

.product_categories ul li a:hover {
    background: #fafafa;
    border-radius: 12px
}

.product_filters input {
    display: none
}

.product_filters label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    cursor: pointer
}

.product_filters label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    box-shadow: inset 0 0 0 1px #4e4d49;
    border-radius: 4px;
    margin-right: 5px;
}

.product_filters input:checked+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M9.673 18.669h.001L19.766 6.644a1 1 0 10-1.532-1.286l-9.3 11.085-3.169-3.776a1 1 0 10-1.532 1.286l3.875 4.618a.999.999 0 001.565.099z'/%3E%3C/svg%3E");
    background-color: #4e4d49;
}

.gothiar_shop_detail {
    margin: 0 0 100px
}

.gothiar_shop_detail .gothiar_shop_top {
    text-align: center;
    margin: 100px 0
}

.gothiar_shop_detail .gothiar_shop_top h1 {
    margin: 0 0 20px
}

.gothiar_shop_detail .gothiar_shop_gallery .wImage {
    display: block
}

.gothiar_shop_detail .gothiar_shop_gallery1 .wImage {
    display: block
}

.reviews_stars {
    text-align: center
}

.reviews_stars img {
    width: 16px;
    display: inline-block;
}

.reviews_stars img:not(:first-child,
:last-child) {
    margin: 0 2px
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 1
}

.gothiar_shop_gallery.owl-carousel .owl-nav button {
    transition: opacity .4s cubic-bezier(.38, .41, .27, 1), transform .2s cubic-bezier(.235, 0, .05, .95);
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center
}

.gothiar_shop_gallery.owl-carousel .owl-nav button.owl-next {
    background: #fff;
    font-size: 40px;
    position: absolute;
    top: calc(50% - 30px);
    right: 40px;
    transform: rotate(180deg)
}

.gothiar_shop_gallery.owl-carousel .owl-nav button.owl-prev {
    background: #fff;
    font-size: 40px;
    position: absolute;
    top: calc(50% - 30px);
    left: 40px
}

.gothiar_shop_gallery.owl-carousel .owl-nav button.disabled {
    opacity: 0;
}

.contentView_pro {
    max-width: 860px;
    margin: 0 auto
}

.size-item.hide{ cursor: unset; position: relative}
.size-item.hide:before{content: ''; width: 2px; height: 50px; background: red; position: absolute; transform: rotate(45deg)}
.box_choosenumber {
    display: flex;
    justify-content: center;
}
.box_choosenumber .choosenumber{width: 200px}
.box_title-wholesale{font-weight: bold}
.box_description-wholesale:nth-child(n + 4) {
  display: none;
}
.tb_wholesale{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,.6); z-index: 10; display: none}
.tb_wholesale.active{display: block}
.tb_wholesale .box_table{position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 10px;  display: flex; flex-direction: column; gap: 10px; align-items: flex-end; width: 300px}
.tb_wholesale .box_table .table{width: 100%}
.close-box_wholesale{cursor: pointer; margin-right: 20px; border: 1px solid #000; border-radius: 10px; padding: 2px 10px}
.btn-moreWholesale{cursor: pointer; font-weight: bold}

@media(max-width: 991px) {
    .gothiar_shop_detail .gothiar_shop_top {
        text-align: center;
        margin: 40px 0 60px
    }
    .gothiar_shop_left {
        display: none
    }
    .gothiar_shop_category .gothiar_shop_right {
        width: 100%
    }
}

@media(max-width: 767px) {
    .gothiar_shop_index,
    .gothiar_shop_category,
    .gothiar_shop_detail {
        margin-top: 100px;
        padding: 40px 0
    }
    .gothiar_shop_left {
        display: none
    }
    .gothiar_shop_category .gothiar_shop_right {
        width: 100%
    }
}

@media(max-width: 479px) {
    .product_group_items {
        gap: 15px
    }
    .product_group_items .item {
        width: calc((100% - 15px) / 2)
    }
    .gothiar_shop_detail .gothiar_shop_top {
        margin: 0 0 40px
    }
    .product_group_items .product_name {
        font-size: 14px
    }
}