<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
  </configSections>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all requests to ASP.NET, you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true"/>
    <plugins>
      <add name="DiskCache"/>
    </plugins>
  </resizer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ConnectionString" value="Provider=SQLOLEDB; server=.\PHUCDB; database=gothiarcomdb;uid=sa;pwd=1; charset=utf8"/>
    <add key="LicenseKey" value="0ef0e602c01f0ab0120450a70e90e60430090cb0ac084087_01b0cc06e0f80af0210af0ce0640b70e70d407b06604d020"/>
    <!--Dành cho web chính - không cần mã web-->
    <!--<add key="WebName" value=""/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" defaultLanguage="C#">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="102400"/>
    <!-- 2GB in kilobytes, default is 4096 or 4MB-->
    <!--<httpRuntime requestValidationMode="2.0" maxRequestLength="102400" />-->
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Default.aspx?rewrite=error&amp;page=404"/>
      <error statusCode="500" redirect="~/Default.aspx?rewrite=error&amp;page=500"/>
    </customErrors>
    <machineKey validationKey="0F5FD80A37C69E70F8C05A15F4C6A1857CADCAF5E8FB3E96EC4EC5D61E1D898ADD5CA491B6A9CD7F91A9DA3ABAC2160577AF60E4A6FC3B942803511D37517291" decryptionKey="2BB4C9FC13310F4B355B7A316CC501AAAE16FECCCD48B371FEA774A14579B987" validation="SHA1" decryption="AES"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>
      <add name="OnlineActiveUsers" type="OnlineActiveUsers.OnlineUsersModule"/>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-Powered-By-Plesk"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
      <add name="OnlineActiveUsers" type="OnlineActiveUsers.OnlineUsersModule"/>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/Default.aspx?rewrite=error&amp;page=404"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/Default.aspx?rewrite=error&amp;page=500"/>
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMaxAge="7.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <!--<add value="indexl" />
        <add value="indexl" />
        <add value="index.aspx" />-->
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- 2GB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="104857708"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="Areas/Admin/PopUp/Items/AddImageToItem.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 2GB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="2147483648"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <rewriter>
    <!-- Bắt buộc để lại -->
    <rewrite url="^/admin/login" to="~/Areas/Admin/Login.aspx" processing="stop"/>
    <rewrite url="^/admin/reset" to="~/Areas/Admin/Reset.aspx" processing="stop"/>
    <rewrite url="^/admin/confirm" to="~/Areas/Admin/Confirm.aspx" processing="stop"/>
    <rewrite url="^/admin/wizard" to="~/Areas/Admin/Wizard.aspx" processing="stop"/>
    <rewrite url="^/admin" to="~/Areas/Admin/Index.aspx" processing="stop"/>
    <!-- End bắt buộc để lại -->
    <rewrite url="~/error-404" to="~/Default.aspx?rewrite=error&amp;code=$1" processing="stop"/>
    <rewrite url="~/gio-hang.htm" to="~/Default.aspx?rewrite=san-pham&amp;page=gio-hang" processing="stop"/>
    <rewrite url="~/gio-hang-trong.htm" to="~/Default.aspx?rewrite=san-pham&amp;page=gio-hang-trong" processing="stop"/>
    <rewrite url="~/thanh-toan.htm" to="~/Checkout.aspx?page=step1" processing="stop"/>
    <rewrite url="~/xac-nhan-thanh-toan.htm" to="~/Checkout.aspx?page=step2" processing="stop"/>
    <rewrite url="~/dat-hang-thanh-cong.htm" to="~/Default.aspx?rewrite=san-pham&amp;page=dat-hang-thanh-cong" processing="stop"/>
    <rewrite url="^/lien-he.htm(\/|\?|\#)(.+)" to="~/Default.aspx?rewrite=lien-he" processing="stop"/>
    <rewrite url="^/lien-he.htm$" to="~/Default.aspx?rewrite=lien-he" processing="stop"/>
    <rewrite url="^/bai-viet/p-(.+).htm(\/|\?|\#)(.+)" to="~/Default.aspx?rewrite=bai-viet&amp;p=$1" processing="stop"/>
    <rewrite url="^/bai-viet/p-(.+).htm$" to="~/Default.aspx?rewrite=bai-viet&amp;p=$1" processing="stop"/>
    <rewrite url="^/bai-viet.htm(\/|\?|\#)(.+)" to="~/Default.aspx?rewrite=bai-viet" processing="stop"/>
    <rewrite url="^/bai-viet.htm$" to="~/Default.aspx?rewrite=bai-viet" processing="stop"/>
    <rewrite url="^/san-pham/p-(.+).htm(\/|\?|\#)(.+)" to="~/Default.aspx?rewrite=san-pham&amp;p=$1" processing="stop"/>
    <rewrite url="^/san-pham/p-(.+).htm$" to="~/Default.aspx?rewrite=san-pham&amp;p=$1" processing="stop"/>
    <rewrite url="^/san-pham.htm(\/|\?|\#)(.+)" to="~/Default.aspx?rewrite=san-pham" processing="stop"/>
    <rewrite url="^/san-pham.htm$" to="~/Default.aspx?rewrite=san-pham" processing="stop"/>
    <!--Phần rewrite dạng tên_miền/tên_bài_viết-->
    <rewrite url="^/([A-Za-z0-9_-]+)/p-(.+).htm" to="~/Default.aspx?title=$1&amp;p=$2" processing="stop"/>
    <rewrite url="^/([A-Za-z0-9_-]+).htm(\/|\?|\#)(.+)" to="~/Default.aspx?title=$1" processing="stop"/>
    <rewrite url="^/([A-Za-z0-9_-]+).htm$" to="~/Default.aspx?title=$1" processing="stop"/>
    <redirect url="~/Default.aspx" to="~/"/>
  </rewriter>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>